[user]
	name            = Cesar A. Quiroz, Ph.D.
	email           = cesar_quiroz@ieee.org
[core]
	editor          = gvim
	pager           =
[diff]
	tool            = gvimdiff
[merge]
	tool            = tortoisegitmerge
[color]
	ui              = auto
	status          = never
	diff            = never
	branch          = never
[alias]
	aa		= add -A .
	au		= add -u .
	ci              = commit
	co              = checkout
	d               = diff
	ds              = diff --staged
	l               = log --date=short --pretty=tformat:'%h %ad %s' --no-merges
	s               = status -bs -uno
[push]
	default         = simple
[gui]
	warndetachedcommit = true
