[user]
	name = Cesar A. Quiroz, Ph.D.
	email = cesar_quiroz@ieee.org
[color]
	status = never
	diff = never
	branch = never
[diff]
	tool = gvimdiff
[merge]
	tool = tortoisegitmerge
[core]
	autocrlf = false
[push]
	default = simple
